body {
    background-image: url(back-quiz.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    background: rgba(265, 265, 265, .5);
    padding: 20px;
    width: 450px;
    margin-top: 100px;
    font-size: 30px;
    color: rgb(0,5,159);
    text-align: left;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
li {
    list-style-type :none;
}
.checkbox {
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
}
/* input{
    margin: 10px;
} */
.btn-next{
    width: 70px;
    height: 30px;
    padding: 5px;
    outline: none;
    border: none;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.7s;
    background-size: 200% auto;
    background-image: linear-gradient(to right,rgb(2,41,191)20%,
    rgb(17,94,155)50%,rgb(0,5,159)80%);
}
.btn-next:hover{
    cursor: pointer;
    opacity: 0.7;
    background-position: right center;
}
h1 {
    text-align: center;
}

@media only screen and (max-width: 530px) {
    .container {
      width: 100%;
    }
  }